<div class="header">
  <div class="container">
    <img src="mail.jpeg">
    <h1>Messanger</h1>
  </div>
</div>

<h1>Edit</h1>

<%= form_for(@message) do |f| %>
  <div class="field">
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit "Edit" %>
  </div>
<% end %>

<%= link_to 'home', messages_path %>
