// Place all the styles related to the Messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body, p {
  margin: 0;
}

body {
  background-color: #eee;
}

.message {
  background-color: #fff;
}

form label {
  display: block;
  width: 100%;
}

form textarea {
  border: 1px solod transparent;
  width: calc(100% - 32px);
}
